{{>header}}
<section id=view>
	<h2>Capibaras</h2>
	
	<form class="row" action="/capybaras">
		<div class="col">
			<select class="form-select" name="isSponsored">
				<option selected value="">Capis apadrinadas y no apadrinadas</option>
				<option value="1">Sí</option>
				<option value="0">No</option>
			</select>
		</div>
		<div class="col">
			<input name="price" type="number" class="form-control" placeholder="Precio máximo">
		</div>
		<div class="col">
			<select class="form-select" name="sex">
				<option selected value="">Cualquier sexo</option>
				<option value="Hembra">Hembra</option>
        		<option value="Macho">Macho</option>
        		<option value="No binario">No binario</option>
			</select>
		</div>
		
		<div class="col">
			<input class="btn btn-outline-primary" type="submit" value="Buscar">
		</div>

	</form>




	<ul class="items">
		{{#capybaras}}
		<p id="element">
			<li><a href="/capybaras/{{id}}">{{name}}</a></li>
		</p>
		{{/capybaras}}
	</ul>

	<button id="Botton" onclick="location.href='/newcapybara'">Nueva capibara</button>
</section>
{{>footer}}