{{>header2}}
<main id="viewentity">
  <div>

    <div class="container">
      <div class="row">
        <div class="col-2">
          {{#capybara.image}}
          <img class="img-thumbnail" src="/capybaras/{{capybara.id}}/image" alt="Imagen de {{capybara.name}}">
          {{/capybara.image}}
        </div>
        <div class="col-10">
          <h2>Capibara "{{capybara.name}}"</h2>

          <div>
            <p>{{{capybara.description}}}</p>
          </div>
          <div>
            <h3>Información Adicional:</h3>
            <ul>
              <li><b>Sexo</b>: {{capybara.sex}}</li>
              <li><b>Color</b>: {{capybara.color}}</li>
              <li><b>Precio</b>: {{capybara.price}} &#8364</li>
              {{#logged}}
              <form action="/capybaras/{{capybara.id}}/sponsor" method="post">
                {{>csrf}}
                <input type="hidden" name="isSponsored" value="true">
                <li><b>Apadrinada</b>: {{#capybara.isSponsored}} Sí{{/capybara.isSponsored}}
                  {{^capybara.isSponsored}}
                  No<button id="button-sponsor" type="submit">Apadrinar</button>
                  {{/capybara.isSponsored}}
                </li>
              </form>
              {{/logged}}
            </ul>
          </div>
          <p>
          <p><button id=buttom onclick="location.href='/capybaras'">Otras capibaras</button></p>
          {{#logged}}
          {{#admin }}
          <p> <button id=buttom onclick="location.href='/capybaras/{{capybara.id}}/edit'">Editar</button></p>
          {{/admin}}
          {{#mine}}
          <p><button id=buttom onclick="location.href='/capybaras/{{capybara.id}}/analytics'" download>Ver la analitica</button></p>
          {{/mine}}
          
          {{#admin}}
          <p><button id=buttom onclick="location.href='/capybaras/{{capybara.id}}/delete'">Eliminar</button></p>
          {{/admin}}
          {{/logged}}
        </p>
        </div>
      </div>
    </div>
</main>
</div>
{{>footer2}}