{{>header2}}
<main id="cont">
  <div class="container">
      
      <form action="/users/{{user.id}}/edit" method="post" enctype="multipart/form-data">
        {{>csrf}} 

        <p>
        <h2>Actualizando información de la cuenta</h2>
        </p>
        {{#error}}
        <p class="error-message">{{error}}</p>
        {{/error}}
        <div>
          <p><label>Nombre de Usuario: </label> {{user.username}}</p>
        </div>
        <div>
         <p><label>Contraseña:</label></p>
          <p><input name="password" type="password" placeholder="Contraseña"></p>
        </div>
        <div>
          <p><label>Confirmar Contraseña:</label></p>
          <p><input name="confirmPassword" type="password" placeholder="Confirmar Contraseña"></p>
        </div>
        <div>
          <p><label>Nombre:</label></p>
          <p><input name="name" type="text" placeholder="Nombre"
               value={{#user.name}}{{user.name}}{{/user.name}}></p>
        </div>
        <div>
          <p><label>Apellido:</label></p>
          <p><input name="lastName" type="text" placeholder="Apellido"
               value={{#user.lastName}}{{user.lastName}}{{/user.lastName}}></p>
        </div>
        <div>
          <p><label>Correo Electrónico:</label></p>
          <p><input name="email" type="email" placeholder="Correo Electrónico"></p>
        </div>
        <p>
          <button id="buttom" onclick="location.href='/users/home'; return false;">Cancelar</button>
          <input type="submit" value="Guardar"></input>
        </p>

      </form>
     </div>
    </main>
 {{>footer2}}
