{{>header}}
  <div class="container">
  <div class="row">
  <div class="col-2">
    {{#capybara.image}}
    <img class="img-thumbnail" src="/capybaras/{{capybara.id}}/image" alt= "Imagen de {{capybara.name}}">
   {{/capybara.image}}
  </div>
    <form action="/capybaras/{{capybara.id}}/edit" method="post" enctype="multipart/form-data">
  
      <div>
        <label>Nombre: </label>
        <input name="name" placeholder="Nombre" value = {{capybara.name}}></input>
      </div>
      <div>
        <label>Decripción: </label>
        <textarea name="description" placeholder="Descripción">{{capybara.description}}</textarea>
      </div>
      <div>
        <label>Sexo: </label>
        <input name="sex" placeholder="Sexo" value = {{capybara.sex}}></input>
      </div>
      <div>
        <label>Precio: </label>
        <input name="price" placeholder="Precio" value={{capybara.price}}></input>
      </div>
      <div>
        <label>Color: </label>
        <input name="color" placeholder="Color" value = {{capybara.color}}></input>
      </div>
      <div>
       
        <div>
          <label>Apadrinada: </label>
          <input type="checkbox" name="isSponsored" value="true" {{#capybara.isSponsored}} checked {{/capybara.isSponsored}}>
        </div>
      <p>Actualizar la imagen: </p>
      <input type='file' name='imageField' accept=".jpg, .jpeg"></input>
    
      <p>
        <button onclick="location.href='/'; return false;">Cancelar</button>
        <input type="submit" value="Guardar"/>
      </p>
      </form>
       
{{>footer}}
