{{>header2}}
<main id="cont">
  <div class="container">
    <div class="row">
      <div class="col-2">

      </div>
      <form action="/capybaras/{{capybara.id}}/edit" method="post" enctype="multipart/form-data">
        <p>
        <h2>Actualizando capibara</h2>
        </p>
        {{#capybara.image}}
        <img class="img-thumbnail" src="/capybaras/{{id}}/image" alt="Imagen de {{capybara.name}}">
        {{/capybara.image}}
        {{#error}}
        <p class="error-message">{{error}}</p>
        {{/error}}
        <div>
          </p><label>Nombre: </label></p>
          <p> <textarea name="name" placeholder="Nombre">{{capybara.name}}</textarea></p>
        </div>
        <div>
          <p> <label>Decripción: </label>
          <p>
          <p><textarea name="description" placeholder="Descripción">{{capybara.description}}</textarea> </p>
        </div>
        <div>
          <p><label>Sexo:</label></p>
          <p>
            <select name="sex">
              <option value="Hembra">Hembra</option>
              <option value="Macho">Macho</option>
              <option value="No binario">No binario</option>
            </select>
          </p>
        </div>
        <div>
          <p><label>Precio:</label></p>
          <p><input name="price" placeholder="Precio" value={{capybara.price}}></input></p>
        </div>
        <div>
          </p><label>Color: </label>
          <p><textarea name="color" placeholder="Color">{{capybara.color}}</textarea></p>
        </div>
        <div>
          <p><label>Apadrinada: </label>
            <input type="checkbox" name="isSponsored" value="true" {{#capybara.isSponsored}} checked
              {{/capybara.isSponsored}}>
          </p>
        </div>
        <p><label>Actualizar la imagen:</label></p>
        <p><input type='file' name='imageField' accept=".jpg, .jpeg"></input></p>

        <p><label>Actualizar la analítica:</label></p>
        <p><input type='file' name='analyticsField' accept=".pdf"></input></p>
        <p>
          <button id="buttom" onclick="location.href='/capybaras'; return false;">Cancelar</button>
          <input type="submit" value="Guardar"></input>
        </p>

      </form>
</main {{>footer2}}