</div>
<!--Footer-->
<footer id="landing-footer" class="clearfix">
    <div class="row clearfix">

        <p id="copyright" class="col-2">El Padrino Capibara</a></p>

        <!--Social Icons in Footer-->
        <ul class="col-2 social-icons">
            <li>
                <a target="_blank" title="Facebook" href="https://www.facebook.com/username">
                    <i class="fa-brands fa-facebook fa-2x"></i><span>Facebook</span>
                </a>
            </li>
            <li>
                <a target="_blank" title="Tik Tok" href="http://google.com/+username">
                    <i class="fa-brands fa-tiktok fa-2x"></i><span>Google+</span>
                </a>
            </li>
            <li>
                <a target="_blank" title="X" href="http://www.twitter.com/username">
                    <i class="fa-solid fa-x fa-2x"></i><span>Twitter</span>
                </a>
            </li>
            <li>
                <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
                    <i class="fa-brands fa-instagram fa-2x"></i><span>Instagram</span>
                </a>
            </li>
            <li>
                <a target="_blank" title="Threads" href="http://www.behance.net">
                    <i class="fa-brands fa-threads fa-2x"></i><span>Threads</span>
                </a>
            </li>
        </ul>
        <!--End of Social Icons in Footer-->
    </div>
</footer>
<!--End of Footer-->

</div>

<!-- Include JavaScript resources -->
<script src="js/jquery.1.8.3.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/featherlight.min.js"></script>
<script src="js/featherlight.gallery.min.js"></script>
<script src="js/jquery.enllax.min.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.stickyNavbar.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/images-loaded.min.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/site.js"></script>


</body>

</html>