<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
     body {
      font-family: 'Times New Roman';
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 50px auto;
      padding: 20px;
      background-color: #efe7cc;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h2 {
      margin-top: 0;
    }

    label {
      display: inline-block;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input,
    textarea, select {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: none;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    input[type="file"] {
      padding: 10px 15px;
    }

    input[type="submit"],
    button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #6b311c;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 1.2rem;
      cursor: pointer;
    }

    input[type="submit"]:hover,
    button:hover {
      background-color: #6b311c;
    }

    button {
      margin-right: 10px;
    }
</style>
    {{>header}}

</head><body>

<section class="u-padding-top-xxlarge@desktop-large  u-padding-top-huge@tablet u-padding-top-xxlarge@only-mobile u-padding-bottom-large u-padding-bottom-large@desktop" style="background-size: cover; background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 11%, rgba(0, 0, 0, 0) 39%), url('/Content/images/bk-apadrina.png');background-position: center center;">
<div class="container u-text-center">
    <h1 class="h1-title u-text-color-white">Apadrinamiento</h1>
    <p class="u-margin-top-small u-font-size-l u-text-color-white">
        Crea un vínculo con otras culturas y construye <strong>
            un mundo más justo e
            igualitario.
        </strong>
    </p>
    <button onclick="location.href='/capybaras';">Quiero apadrinar</button>
</div>
</section>
<section id="second" class="u-background-pattern-white  o-section">
<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h2 class="u-text-center h2-title">
                QUÉ OCURRE CUANDO APADRINAS
            </h2>
            <p class="u-text-center u-margin-top-small@only-mobile-tablet u-margin-top@desktop">
                Cuando apadrinas, mejoras las condiciones de vida de miles de niños, niñas y sus familias mediante proyectos que llevamos a cabo en su comunidad. También crearás un vínculo con otras culturas y realidades además de que estás construyendo un mundo más justo e igualitario.
            </p>
            <p class="u-text-center u-margin-top-small@only-mobile-tablet u-margin-top@desktop">
                Porque cuando apadrinas garantizas el acceso a una educación de calidad, atención médica y alimentación a miles de niños y niñas para disfrutar de una vida llena de oportunidades. “Si no hubiera sido por el apadrinamiento, no hubiera podido seguir estudiando”, cuenta Erlinda, una joven salvadoreña que fue apadrinada.
            </p>
        </div>
    </div>
</div>
</section>

<section class=" u-padding-top-large u-padding-bottom-large u-padding-top-large@desktop u-padding-bottom-large@desktop">
<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h2 class="u-text-center h2-title u-margin-bottom-small@only-mobile-tablet u-margin-bottom@desktop">
                ¿Cómo funciona el apadrinamiento?
            </h2>
            <p class="c-entradilla">
                Apadrinando cambiarás la vida del niño o niña y también de toda su comunidad

            </p>
           
        </div>
    </div>
    <div class="row u-margin-top-medium@desktop u-margin-top@only-mobile-tablet">
        <div class="col-md-6 col-xl-3 u-margin-bottom@only-down-desktop">
            <div class="u-text-center u-padding-horizontal-small u-padding-horizontal-medium@desktop">
                <div class="u-margin-bottom-small">
                </div>
                <p class="u-font-size-xl u-text-transform-uppercase u-text-bold">Qué es</p>
                <p class="u-margin-bottom-small u-margin-top-tiny">
                    Tu aportación permite llevar a cabo proyectos que
                    benefician al
                    niño apadrinado y también a sus familias y a las personas de su barrio o comunidad.
                </p>
                <div class="c-divider-line c-divider-line--small"></div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 u-margin-bottom@only-down-desktop">
            <div class="u-text-center u-padding-horizontal-small">
                <div class="u-margin-bottom-small">
                </div>
                <p class="u-font-size-xl u-text-transform-uppercase u-text-bold">Qué recibe el niño</p>
                <p class="u-margin-bottom-small u-margin-top-tiny">
                    El niño o la niña podrá disfrutar de una educación equitativa, segura y de calidad. Además, nos aseguraremos de que viva en entornos seguros y libres de violencia; y que pueda ejercer su derecho de participación en los temas que le afectan tanto a él como a su comunidad.
                </p>
                <div class="c-divider-line c-divider-line--small"></div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 u-margin-bottom@only-down-desktop">
            <div class="u-text-center u-padding-horizontal-small">
                <div class="u-margin-bottom-small">
                </div>
                <p class="u-font-size-xl u-text-transform-uppercase u-text-bold">Cuánto dura</p>
                <p class="u-margin-bottom-small u-margin-top-tiny">
                    Dependiendo del país, el apadrinamiento dura
                    mientras el niño está en etapa escolar básica, en educación primaria o entre los 5 y 14 años.
                </p>
                <div class="c-divider-line c-divider-line--small"></div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="u-text-center u-padding-horizontal-small">
                <div class="u-margin-bottom-small">
                </div>
                <p class="u-font-size-xl u-text-transform-uppercase u-text-bold">Cuánto cuesta</p>
                <p class="u-margin-bottom-small u-margin-top-tiny">
                    Puedes apadrinar por 21,00€ al mes. El 80,4% de
                    tu aportación se destina a proyectos de desarrollo y acción social y el 19,6% a gastos
                    necesarios de gestión y captación de fondos.
                </p>
                <div class="c-divider-line c-divider-line--small"></div>
            </div>
        </div>
    </div>
</div>
</section>
<section class="u-background-pattern-turquoise o-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <h2 class="u-text-center h2-title u-margin-bottom u-text-color-white">
                    Preguntas frecuentes
                </h2>
                <div class="c-accordion c-accordion--parent">
                    <div class="row">
                        <div class="col">
                            <div class="c-accordion__tabs">
                                <div class="c-accordion__tab">
                                    <input type="checkbox" id="chck1">
                                    <label class="c-accordion__tab-label" for="chck1">Sobre el apadrinamiento</label>
                                    <div class="c-accordion__tab-content">
                                        <div class="c-accordion c-accordion--child">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="c-accordion__tabs">
                                                        <div class="c-accordion__tab">
                                                            <input type="checkbox" id="subchck1">
                                                            <label class="c-accordion__tab-label" for="subchck1">
                                                                ¿Qué es
                                                                el
                                                                apadrinamiento?
                                                            </label>
                                                            <div class="c-accordion__tab-content">
                                                                <p>
                                                                    El apadrinamiento permite cooperar en la mejora de las condiciones de vida de un niño o una niña de una población vulnerable, las de su familia y su entorno mediante proyectos de desarrollo que benefician a toda una comunidad. Una vez garantizado todo esto, una parte de tu aportación se destinará a la puesta en marcha de programas de desarrollo en otras zonas, especialmente de educación y protección, permitiendo que otras personas, en otros países vean también mejorada su calidad de vida.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-accordion c-accordion--child">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="c-accordion__tabs">
                                                        <div class="c-accordion__tab">
                                                            <input type="checkbox" id="subchck3">
                                                            <label class="c-accordion__tab-label" for="subchck3">
                                                                Si
                                                                termina el apadrinamiento de
                                                                un niño, ¿puedo seguir teniendo contacto con él?
                                                            </label>
                                                            <div class="c-accordion__tab-content">
                                                                <p>
                                                                    Es prácticamente imposible, ya que muchas veces las familias emigran y no dicen dónde se dirigen, por lo que perdemos el contacto con el niño. Si el niño ha pasado a secundaria también es difícil ya que es en las escuelas de primaria adonde los niños reciben el material escolar y las cartas de los padrinos.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-accordion c-accordion--parent u-margin-top-xsmall@desktop">
                    <div class="row">
                        <div class="col">
                            <div class="c-accordion__tabs">
                                <div class="c-accordion__tab">
                                    <input type="checkbox" id="chck2">
                                    <label class="c-accordion__tab-label" for="chck2">
                                        La comunicación con tu
                                        apadrinado
                                    </label>
                                    <div class="c-accordion__tab-content">
                                        <div class="c-accordion c-accordion--child">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="c-accordion__tabs">
                                                        <div class="c-accordion__tab">
                                                            <input type="checkbox" id="ssubchck1">
                                                            <label class="c-accordion__tab-label" for="ssubchck1">
                                                                ¿Puedo escribirle?
                                                            </label>
                                                            <div class="c-accordion__tab-content">
                                                                <p>
                                                                    Siempre que lo desees y tantas veces como quieras. Deberás enviar las cartas al apartado postal que corresponda con el nombre de la delegación del país al que pertenezca el niño o la niña. A continuación, te los facilitamos:
                                                                </p>
                                                                <p class="u-margin-top">Una vez la correspondencia haya llegado a las centrales, nuestros compañeros se la entregarán al niño apadrinado. Pedimos que se escriba directamente a las oficinas centrales porque así tenemos mayores garantías y mayor seguridad de que la correspondencia llegue a su destino. </p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-accordion c-accordion--child">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="c-accordion__tabs">
                                                        <div class="c-accordion__tab">
                                                            <input type="checkbox" id="ssubchck2">
                                                            <label class="c-accordion__tab-label"
                                                                   for="ssubchck2">
                                                                ¿Qué sabe el niño de mí?
                                                            </label>
                                                            <div class="c-accordion__tab-content">
                                                                <p>
                                                                    El niño sabe que Educo colabora en las escuelas, conoce que la ayuda viene de colaboradores españoles, pero en ningún caso se quiere personalizar, ya que no todos los niños están apadrinados.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-accordion c-accordion--child">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="c-accordion__tabs">
                                                        <div class="c-accordion__tab">
                                                            <input type="checkbox" id="ssubchck3">
                                                            <label class="c-accordion__tab-label" for="ssubchck3">
                                                                Si escribo, ¿me contestará?
                                                            </label>
                                                            <div class="c-accordion__tab-content">
                                                                <p>
                                                                    Algunas veces lo hacen, aunque no suele ser habitual ya que los niños apadrinados están en la escuela primaria y muchos aún no han alcanzado un buen nivel de lectura y escritura. Además, Educo realiza los proyectos en comunidades muy pobres donde los niños dedican mucho tiempo en desplazarse a la escuela y, a veces, al regresar a casa tienen que ayudar con las tareas domésticas o cuidando a hermanos más pequeños. Por supuesto, si el niño desea escribir a su padrino puede hacerlo a través de educo. Nuestros compañeros recogen las cartas de los niños que hayan querido escribir y, cuando hay algún envío a la sede de Barcelona, aprovechan y nos las remiten para enviarlas a los padrinos.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-accordion c-accordion--parent u-margin-top-xsmall@desktop">
                    <div class="row">
                        <div class="col">
                            <div class="c-accordion__tabs">
                                <div class="c-accordion__tab">
                                    <input type="checkbox" id="chck3">
                                    <label class="c-accordion__tab-label" for="chck3">Los proyectos</label>
                                    <div class="c-accordion__tab-content">
                                        <div class="c-accordion c-accordion--child">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="c-accordion__tabs">
                                                        <div class="c-accordion__tab">
                                                            <input type="checkbox" id="sssubchck1">
                                                            <label class="c-accordion__tab-label" for="sssubchck1">
                                                                ¿En qué tipo de proyectos trabaja Educo?
                                                            </label>
                                                            <div class="c-accordion__tab-content">
                                                                <p>
                                                                    En Educo trabajamos en proyectos de desarrollo a largo plazo para conseguir, de manera sostenible, que las poblaciones más vulnerables de América Latina, África y Asia puedan mejorar sus condiciones de vida.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-accordion c-accordion--child">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="c-accordion__tabs">
                                                        <div class="c-accordion__tab">
                                                            <input type="checkbox" id="sssubchck2">
                                                            <label class="c-accordion__tab-label"
                                                                   for="sssubchck2">
                                                                ¿Qué tipo de información tendré de los proyectos que benefician a mi niño apadrinado?
                                                            </label>
                                                            <div class="c-accordion__tab-content">
                                                                <p>
                                                                    Recibirás en tu casa información de forma periódica sobre nuestras actividades a través de la revista Educo. También te enviaremos nuestra Memoria de actividades cada año para informarte de manera detallada de todo lo que hemos llevado a cabo. Además, encontrarás más información a través de nuestra página web.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="c-accordion c-accordion--child">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="c-accordion__tabs">
                                                        <div class="c-accordion__tab">
                                                            <input type="checkbox" id="sssubchck3">
                                                            <label class="c-accordion__tab-label" for="sssubchck3">
                                                                ¿Se puede trabajar como voluntario en los proyectos?
                                                            </label>
                                                            <div class="c-accordion__tab-content">
                                                                <p>
                                                                    Los equipos que trabajan en los proyectos suelen ser personas del propio país especializados en unos campos concretos. De esta manera conseguimos una mayor implicación entre las comunidades con las que trabajamos y nuestros técnicos. Puedes ponerte en contacto con nuestro departamento de voluntariado en la siguiente dirección:  <a href="mailto:voluntariado@educo.org" class="u-link-underline-effect u-link-underline-effect--turquoise u-link-underline-effect--active" title="email voluntariado">voluntariado@educo.org</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-background-pattern-turquoise c-destacado-horizontal">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="u-text-color-white u-padding-top-large u-padding-bottom-large u-padding-top-xlarge@desktop u-padding-bottom-xlarge@desktop">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="h2-title u-text-color-white u-margin-bottom u-text-transform-uppercase u-text-center@only-mobile-tablet">
                                DE CADA EURO QUE DONAS
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-10 u-text-center@only-mobile-tablet">
                            <p>
                                <span class="u-font-size-l">
                                    <strong>80 céntimos</strong>
                                </span>van directamente dirigidos a nuestros programas de educación y protección de la infancia.

                            </p>
                            <p class="u-margin-top-tiny">
                                <span class="u-font-size-l"> <strong>10 céntimos</strong></span> se destinan a procesos de administración de Educo.
                            </p>
                            <p class="u-margin-top-tiny">
                                <span class="u-font-size-l"> <strong>10 céntimos</strong></span> se invierten en hacer crecer nuestra organización para conseguir más donantes como tú.
                            </p>
                            <p class=" u-margin-top-small">
                                <span class="u-font-size-xl"><strong>174</strong></span> proyectos,
                                <span class="u-font-size-xl"><strong>3.676</strong></span> escuelas,
                                <span class="u-font-size-xl"><strong>927.881</strong></span> niños, niñas y jóvenes participantes
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="c-destacadao-horizontal__img col-12 col-lg-6 u-text-center" style="background: url('https://educowebmedia.blob.core.windows.net/educowebmedia/educospain/media/images/colabora/1384-chart-donate-newversion.svg') center center no-repeat; background-size: cover; ">
            </div>
        </div>
    </div>
</section>
</body>
{{>footer}}

</html>
