{{>header}}

	<form action="/login" method="post" enctype="multipart/form-data" >
	<h2>Login</h2>
	{{#error}}
  	<p class="error-message">{{error}}</p>
  	{{/error}}
	<div>
        <p><label>Nombre de usuario:</label></p>
        <p><input name="username" type="text" placeholder="Nombre de Usuario"
			value={{#user.username}}{{user.username}}{{/user.username}}></p>
    </div>
	<div>
       <p><label>Contraseña:</label></p>
        <p><input name="password" type="password" placeholder="Contraseña"></p>
    </div>
	<input type="hidden" name="_csrf" value="{{token}}"/>
		
		<input type="submit" value="Iniciar sesión"/>
		<button id="Cancel" onclick="location.href='/'; return false;">Cancelar</button>
		<button id="Cancel" onclick="location.href='/signup'; return false;">Registrarse</button>
	</form>
{{>footer}}