{{>header}}
<form action="/products/{{product.id}}/newcomment" method="post" >
<h2>Nuevo Comentario</h2>
{{#error}}
  <p class="error-message">{{error}}</p>
{{/error}}
<div>
    <label>Autor:</label>
    <input name="author" type="text" placeholder="Autor" value = {{#comment.author}}{{comment.author}}{{/comment.author}}>
</div>
<div>
    <label>Comentario: </label>
    <textarea name="comment" placeholder="Comentario">{{#comment.comment}}{{comment.comment}}{{/comment.comment}}</textarea>
  </div>
  <button onclick="location.href='/products/{{product.id}}'; return false;">Cancelar</button>
  <input type="submit" value="Guardar"/>
</p>
</form>
{{>footer}}