{{>header2}}
<main id="cont">
  <form action="/products/{{product.id}}/newcomment" method="post">
    <h2>Nuevo Comentario</h2>
    {{#error}}
    <p class="error-message">{{error}}</p>
    {{/error}}
    <div>
      </p><label>Autor:</label></p>
      <p><input name="author" type="text" placeholder="Autor"
          value={{#comment.author}}{{comment.author}}{{/comment.author}}></p>
    </div>
    <div>
      </p><label>Comentario: </label></p>
      <p><textarea name="text" placeholder="Comentario">{{#comment.text}}{{comment.text}}{{/comment.text}}</textarea></p>
    </div>
    <button id=buttom onclick="location.href='/products/{{product.id}}'; return false;">Cancelar</button>
    <input id=buttom type="submit" value="Guardar"></input>
    </p>
  </form>
</main>
{{>footer2}}