{{>header}}

<form class="normal-form" action="/newproduct" method="post" enctype="multipart/form-data">
  <input type="hidden" name="_csrf" value="{{token}}">

  <h2>Nuevo Producto</h2>
  {{#error}}
  <p class="error-message">{{error}}</p>
  {{/error}}
  <div>
    <p><label>Nombre:</label></p>
    <p><input name="name" placeholder="Nombre" value={{#product.name}}{{product.name}}{{/product.name}}></p>
  </div>
  <div>
    <p><label>Descripción:</label></p>
    <p> <textarea name="description"
        placeholder="Descripción">{{#product.description}}{{product.description}}{{/product.description}}</textarea></p>
  </div>
  <div>
    <p><label>Precio:</label></p>
    <p> <input name="price" placeholder="Precio" value={{#product.price}}{{product.price}}{{/product.price}}></input>
    </p>
  </div>
  <div>
    <p><label>Categoría:</label></p>
    <p>
      <select name="type">
        <option value="Ropa">Ropa</option>
        <option value="Arma">Arma</option>
        <option value="Juguete">Juguete</option>
      </select>
    </p>
  </div>
  <p>Imagen:</p>
  <input type='file' name='imageField' accept=".jpg, .jpeg" />

  <p>Tiendas:</p>

  <select id="choose-Shops" name="selectedShops" multiple>
    {{#availableShops}}
    <option value="{{ id }}">{{ name }}</option>
    {{/availableShops}}
  </select>
  <p>
    <button id="Cancel" onclick="location.href='/'; return false;">Cancelar</button>
    <input type="submit" value="Guardar" />
  </p>
</form>

{{>footer}}