{{>header}}
<main id="viewentity">

	{{#success}}
	<p class="success-message">{{success}}</p>
	{{/success}}
	
	<h2>Hola {{user.username}}</h2>
	<h3>Información de la cuenta:</h3>
	{{#user.name}}<p><b>Nombre:</b> {{user.name}}</p>{{/user.name}}
	{{#user.lastName}}<p><b>Apellido:</b> {{user.lastName}}</p>{{/user.lastName}}
	{{#user.email}}<p><b>Correo Electrónico:</b> {{user.email}}</p>{{/user.email}}


		<p>
			<form action="/logout" method="post">
				<input type="hidden" name="_csrf" value="{{token}}"/>
				<input type="submit" value="Sign Out" />
			</form>
		<button id="Botton" onclick="location.href='/users/{{user.id}}/delete'">Borrar Cuenta</button>
		<button id="Botton" onclick="location.href='/users/{{user.id}}/edit'">Editar Cuenta</button>
		</p>
	
	

</main>
{{>footer}}

