{{>header2}}
<main id="viewentity">
    <h2>{{shop.name}}</h2>
    <p><b>Dirección:</b> {{shop.address}}</p>

    <h3>Productos disponibles en esta tienda:</h3>
    <ul>
        {{#shop.products}}
        <li>
            <p> <a href="/products/{{id}}">{{name}}</a></p>
        </li>
        {{/shop.products}}
    </ul>

    <button id="buttom" onclick="location.href='/shops'">Todas las tiendas</button>
    <button id="buttom" onclick="location.href='/shops/{{shop.id}}/delete'">Borrar tienda</button>

</main>
{{>footer2}}