{{>header}}

	<form class="normal-form" action="/signup" method="post" enctype="multipart/form-data">
    {{>csrf}} 
	<h2>Sign Up</h2>
	{{#error}}
  	<p class="error-message">{{error}}</p>
  	{{/error}}
    
    <div>
        <p><label>Nombre de Usuario:</label></p>
        <p><input name="username" type="text" placeholder="Nombre de Usuario"
			 value={{#user.username}}{{user.username}}{{/user.username}}></input></p>
    </div>
	<div>
       <p><label>Contraseña:</label></p>
        <p><input name="password" type="password" placeholder="Contraseña"></input></p>
    </div>
    <div>
        <p><label>Confirmar Contraseña:</label></p>
        <p><input name="confirmPassword" type="password" placeholder="Confirmar Contraseña"></input></p>
    </div>
    <div>
        <p><label>Nombre:</label></p>
        <p><input name="name" type="text" placeholder="Nombre"
             value={{#user.name}}{{user.name}}{{/user.name}}></input></p>
    </div>
    <div>
        <p><label>Apellido:</label></p>
        <p><input name="lastName" type="text" placeholder="Apellido"
             value={{#user.lastName}}{{user.lastName}}{{/user.lastName}}></input></p>
    </div>
    <div>
        <p><label>Correo Electrónico:</label></p>
        <p><input name="email" type="email" placeholder="Correo Electrónico"
             value={{#user.email}}{{user.email}}{{/user.email}}></input></p>
    </div>

		<p>
        <input type="submit" value="Registrarse"/>
        <button id="Cancel" onclick="location.href='/'; return false;">Cancelar</button>
        <button id="Botton" onclick="location.href='/login'; return false;">Iniciar sesión</button>
        </p>
	</form>
{{>footer}}